body{
    background-color: black;
}
div{
    color: azure;
    font-size: 30vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
}